In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn as sk
from sklearn.model_selection import train_test_split

In [2]:
# PANDAS OPTIONS
pd.set_option('display.max_columns', None)

# Manipulando track_details

In [3]:
# Lendo o dataset com os detalhes das músicas
df_track_details = pd.read_csv('datasets/source/track_details.csv')

In [4]:
df_track_details

,track_id,duration,release_year,us_popularity_estimate,acousticness,beat_strength,bounciness,danceability,dyn_range_mean,energy,flatness,instrumentalness,key,liveness,loudness,mechanism,mode,organism,speechiness,tempo,time_signature,valence,acoustic_vector_0,acoustic_vector_1,acoustic_vector_2,acoustic_vector_3,acoustic_vector_4,acoustic_vector_5,acoustic_vector_6,acoustic_vector_7
0,t_a540e552-16d4-42f8-a185-232bd650ea7d,109.706673,1950,99.975414,0.458040,0.519497,0.504949,0.399767,7.511880,0.817709,0.903753,3.254327e-06,0,0.132124,-11.238,0.386100,major,0.541606,0.079985,166.287003,4,0.935512,-0.033284,-0.411896,-0.028580,0.349438,0.832467,-0.213871,-0.299464,-0.675907
1,t_67965da0-132b-4b1e-8a69-0ef99b32287c,187.693329,1950,99.969430,0.916272,0.419223,0.545530,0.491235,9.098376,0.154258,1.037952,8.344854e-12,0,0.163281,-13.706,0.125000,major,0.895874,0.083877,95.261002,3,0.359675,0.145703,-0.850372,0.123860,0.746904,0.371803,-0.420558,-0.213120,-0.525795
2,t_0614ecd3-a7d5-40a1-816e-156d5872a467,160.839996,1951,99.602549,0.812884,0.425890,0.508280,0.491625,8.368670,0.358813,1.004268,2.927475e-10,0,0.090115,-10.522,0.200669,minor,0.806136,0.038777,105.185997,4,0.726769,0.021720,-0.743634,0.333247,0.568447,0.411094,-0.187749,-0.387599,-0.433496
3,t_070a63a0-744a-434e-9913-a97b02926a29,175.399994,1951,99.665018,0.396854,0.400934,0.359990,0.552227,5.967346,0.514585,0.975138,3.981341e-11,0,0.360924,-11.032,0.427152,major,0.492772,0.038337,119.441002,4,0.859075,0.039143,-0.267555,-0.051825,0.106173,0.614825,-0.111419,-0.265953,-0.542753
4,t_d6990e17-9c31-4b01-8559-47d9ce476df1,369.600006,1951,99.991764,0.728831,0.371328,0.335115,0.483044,5.802681,0.721442,0.976866,2.541884e-10,0,0.189162,-6.836,0.281250,major,0.723808,0.032043,95.261002,4,0.562343,0.131931,-0.292523,-0.174819,-0.034422,0.717229,-0.016239,-0.392694,-0.455496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50699,t_402930af-4174-47ec-b1fd-593d93597624,184.686798,2018,99.315966,0.584765,0.521544,0.515087,0.653140,7.684220,0.336433,1.042727,8.633797e-04,11,0.102380,-10.820,0.597561,major,0.501950,0.037479,92.927002,4,0.542063,-0.196001,0.301727,0.238880,-0.391421,0.016690,0.247235,-0.399387,-0.192473
50700,t_e5f9a069-a893-452e-ab21-49b4eaebfbd0,251.813324,2018,99.918573,0.406680,0.565200,0.693126,0.844861,11.176841,0.709085,0.988095,2.412876e-06,11,0.110893,-5.966,0.583710,major,0.411513,0.317291,124.168999,4,0.472353,-0.545160,0.271596,0.274377,0.043951,-0.322946,0.150802,0.159378,0.384336
50701,t_3983306d-13b4-4027-9391-7236ca93d2bf,157.520004,2018,98.517692,0.001279,0.414721,0.341769,0.463543,5.405471,0.975503,0.870077,1.271703e-04,11,0.320818,-3.044,0.393162,major,0.429100,0.061294,107.156998,4,0.766519,0.112592,0.368523,-0.466950,-0.468494,0.640088,0.050771,-0.258999,0.258766
50702,t_74eb6e99-210b-440c-8d7b-4db6617d1c80,129.105392,2018,99.902866,0.139452,0.688375,0.733720,0.850959,10.778521,0.666146,1.051821,1.652945e-12,11,0.105345,-5.334,0.796875,minor,0.174222,0.069366,134.067993,4,0.058505,-0.855291,0.365487,0.273034,0.108294,-0.206204,0.007847,-0.408226,0.143629
50703,t_aec0dda3-19b4-4222-be07-327c12f21456,213.689392,2018,99.961653,0.154936,0.327645,0.365520,0.520514,6.707502,0.880616,0.991239,4.886740e-08,11,0.266024,-3.820,0.826476,minor,0.164493,0.042717,179.945999,4,0.414714,-0.095364,0.382398,0.231202,-0.419750,-0.010569,0.173470,-0.403821,-0.377302

In [5]:
# Conferindo se há colunas com valor nulo e o tipo dos dados de cada coluna
df_track_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50704 entries, 0 to 50703
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   track_id                50704 non-null  object
 1   duration                50704 non-null  float64
 2   release_year            50704 non-null  int64
 3   us_popularity_estimate  50704 non-null  float64
 4   acousticness            50704 non-null  float64
 5   beat_strength           50704 non-null  float64
 6   bounciness              50704 non-null  float64
 7   danceability            50704 non-null  float64
 8   dyn_range_mean          50704 non-null  float64
 9   energy                  50704 non-null  float64
 10  flatness                50704 non-null  float64
 11  instrumentalness        50704 non-null  float64
 12  key                     50704 non-null  int64
 13  liveness                50704 non-null  float64
 14  loudness                50704 non-null  float64
 15  mechanism               50704 non-null  float64
 16  mode                    50704 non-null  object
 17  organism                50704 non-null  float64
 18  speechiness             50704 non-null  float64
 19  tempo                   50704 non-null  float64
 20  time_signature          50704 non-null  int64
 21  valence                 50704 non-null  float64
 22  acoustic_vector_0       50704 non-null  float64
 23  acoustic_vector_1       50704 non-null  float64
 24  acoustic_vector_2       50704 non-null  float64
 25  acoustic_vector_3       50704 non-null  float64
 26  acoustic_vector_4       50704 non-null  float64
 27  acoustic_vector_5       50704 non-null  float64
 28  acoustic_vector_6       50704 non-null  float64
 29  acoustic_vector_7       50704 non-null  float64
dtypes: float64(25), int64(3), object(2)
memory usage: 11.6+ MB

In [6]:
# Transformando o mode em numérico para ser possível calcular a moda
df_track_details['mode_numeric'] = df_track_details['mode'].map({"minor": 0, "major":1})

In [7]:
# Separando as variáveis que usaremos (as quantitativas usam a média enquanto as qualitativas usam a moda)
df_track_details_quantitative_variables = df_track_details[['track_id', 'duration', 'us_popularity_estimate', 'danceability', 'energy', 'instrumentalness']].groupby('track_id', as_index=False).mean()
df_track_details_qualitative_variables = df_track_details[['track_id', 'release_year', 'mode_numeric']].groupby('track_id', as_index=False).median()
df_track_details = pd.merge(df_track_details_quantitative_variables, df_track_details_qualitative_variables, on='track_id')

In [8]:
# Transformando o mode novamente para seus valores originais
df_track_details['mode_numeric'] = df_track_details['mode_numeric'].map({0.0: 'Menor', 1.0:'Maior'})

In [9]:
# Truncando parte decimal de variáveis booleanas
df_track_details['release_year'] = df_track_details['release_year'].astype(int)

In [10]:
# Dict com a tradução dos headers do dataset
translated_header_names = {
    'track_id': 'ID da música',
    'duration': 'Duração (em segundos)',
    'us_popularity_estimate': 'Estimativa de popularidade nos EUA',
    'danceability': 'Dançabilidade', 
    'energy': 'Energia', 
    'instrumentalness':'Instrumentalidade', 
    'release_year': 'Ano de Lançamento', 
    'mode_numeric': 'Escala musical'
}

In [11]:
df_track_details.rename(columns=translated_header_names, inplace=True)

In [12]:
df_track_details

,ID da música,Duração (em segundos),Estimativa de popularidade nos EUA,Dançabilidade,Energia,Instrumentalidade,Ano de Lançamento,Escala musical
0,t_00007fba-6bd3-449d-85dd-54d4aea397c2,277.182281,99.507003,0.492397,0.678628,9.090462e-03,2015,Maior
1,t_0000dc06-0c00-4a09-9dc6-3bdad9c6f0e8,383.025085,99.905634,0.599989,0.247700,9.038057e-09,2017,Menor
2,t_00020dc1-1b82-43e9-8327-77b074bdf626,167.759995,97.761411,0.528283,0.986654,5.920697e-06,1992,Maior
3,t_0003d374-de7a-44c0-a2b6-9ee6785a0750,162.924759,99.975829,0.517752,0.576987,3.084165e-09,2017,Maior
4,t_00042d9b-e795-41a9-89ad-504373dd4287,356.600006,99.992452,0.682989,0.551150,2.123533e-05,1972,Menor
...,...,...,...,...,...,...,...,...
50699,t_fff7c790-7ca8-4de2-92b3-48d5414db051,198.173325,99.672239,0.434289,0.749276,3.235235e-07,2014,Maior
50700,t_fff847fc-b425-4bc7-b680-9879a07739d5,93.000000,99.922127,0.727694,0.318187,9.510854e-01,2018,Maior
50701,t_fffb45d3-9981-4fe5-99a2-0f3c37f9af96,366.986664,99.554104,0.479435,0.422893,3.164227e-05,1973,Menor
50702,t_fffc5585-4ff9-4f73-a5ae-c67afa99fbb5,216.000000,99.974332,0.674209,0.812132,1.106549e-09,2018,Maior
50703,t_fffe4528-f29c-467c-a751-e9db03964faa,191.746674,99.984344,0.643001,0.491148,1.085987e-04,2016,Menor

# Manipulando Users details

In [13]:
# Lendo o dataset dos detalhes de usuário
df_users_details = pd.read_csv('datasets/source/users_details.csv')

In [14]:
df_users_details

,session_id,session_position,session_length,track_id_clean,skip_1,skip_2,skip_3,not_skipped,context_switch,no_pause_before_play,short_pause_before_play,long_pause_before_play,hist_user_behavior_n_seekfwd,hist_user_behavior_n_seekback,hist_user_behavior_is_shuffle,hour_of_day,date,premium,context_type,hist_user_behavior_reason_start,hist_user_behavior_reason_end
0,0_00006f66-33e5-4de7-a324-2d18e439fc1e,1,20,t_0479f24c-27d2-46d6-a00c-7ec928f2b539,False,False,False,True,0,0,0,0,0,0,True,16,2018-07-15,True,editorial_playlist,trackdone,trackdone
1,0_00006f66-33e5-4de7-a324-2d18e439fc1e,2,20,t_9099cd7b-c238-47b7-9381-f23f2c1d1043,False,False,False,True,0,1,0,0,0,0,True,16,2018-07-15,True,editorial_playlist,trackdone,trackdone
2,0_00006f66-33e5-4de7-a324-2d18e439fc1e,3,20,t_fc5df5ba-5396-49a7-8b29-35d0d28249e0,False,False,False,True,0,1,0,0,0,0,True,16,2018-07-15,True,editorial_playlist,trackdone,trackdone
3,0_00006f66-33e5-4de7-a324-2d18e439fc1e,4,20,t_23cff8d6-d874-4b20-83dc-94e450e8aa20,False,False,False,True,0,1,0,0,0,0,True,16,2018-07-15,True,editorial_playlist,trackdone,trackdone
4,0_00006f66-33e5-4de7-a324-2d18e439fc1e,5,20,t_64f3743c-f624-46bb-a579-0f3f9a07a123,False,False,False,True,0,1,0,0,0,0,True,16,2018-07-15,True,editorial_playlist,trackdone,trackdone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167875,0_0eaeef5d-25e9-4429-bd55-af15d3604c9f,16,20,t_360910e8-2a84-42b0-baf1-59abcf96a1f2,False,False,False,True,0,1,0,0,0,0,False,13,2018-07-15,True,user_collection,trackdone,trackdone
167876,0_0eaeef5d-25e9-4429-bd55-af15d3604c9f,17,20,t_aa2fff77-9b0a-4fa3-a685-ecef50310e8a,False,False,False,True,0,1,0,0,0,0,False,13,2018-07-15,True,user_collection,trackdone,trackdone
167877,0_0eaeef5d-25e9-4429-bd55-af15d3604c9f,18,20,t_f673e1b7-4ebe-4fc1-ac24-a9f25de70381,False,False,False,True,0,1,0,0,0,0,False,13,2018-07-15,True,user_collection,trackdone,trackdone
167878,0_0eaeef5d-25e9-4429-bd55-af15d3604c9f,19,20,t_e172e8e7-7161-42a9-acb0-d606346c8f87,False,False,False,True,0,1,0,0,0,0,False,13,2018-07-15,True,user_collection,trackdone,trackdone
167879,0_0eaeef5d-25e9-4429-bd55-af15d3604c9f,20,20,t_77977dd6-597e-4425-8f8f-4efb32ecfba6,False,False,False,True,0,1,0,0,0,0,False,13,2018-07-15,True,user_collection,trackdone,trackdone

In [15]:
## Conferindo se há colunas com valor nulo e o tipo dos dados de cada coluna
df_users_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167880 entries, 0 to 167879
Data columns (total 21 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   session_id                       167880 non-null  object
 1   session_position                 167880 non-null  int64
 2   session_length                   167880 non-null  int64
 3   track_id_clean                   167880 non-null  object
 4   skip_1                           167880 non-null  bool
 5   skip_2                           167880 non-null  bool
 6   skip_3                           167880 non-null  bool
 7   not_skipped                      167880 non-null  bool
 8   context_switch                   167880 non-null  int64
 9   no_pause_before_play             167880 non-null  int64
 10  short_pause_before_play          167880 non-null  int64
 11  long_pause_before_play           167880 non-null  int64
 12  hist_user_behavior_n_seekfwd     167880 non-null  int64
 13  hist_user_behavior_n_seekback    167880 non-null  int64
 14  hist_user_behavior_is_shuffle    167880 non-null  bool
 15  hour_of_day                      167880 non-null  int64
 16  date                             167880 non-null  object
 17  premium                          167880 non-null  bool
 18  context_type                     167880 non-null  object
 19  hist_user_behavior_reason_start  167880 non-null  object
 20  hist_user_behavior_reason_end    167880 non-null  object
dtypes: bool(6), int64(9), object(6)
memory usage: 20.2+ MB

In [16]:
# Separando as variáveis que usaremos (valores baseados na moda)
df_users_details = df_users_details[['session_id', 'track_id_clean', 'skip_1', 'not_skipped', 'hour_of_day']].groupby('track_id_clean', as_index=False).median()

In [17]:
# Truncando parte decimal de variáveis booleanas
df_users_details['skip_1'] = df_users_details['skip_1'].astype(bool)
df_users_details['not_skipped'] = df_users_details['not_skipped'].astype(bool)
df_users_details['hour_of_day'] = df_users_details['hour_of_day'].astype(int)

In [18]:
# Transformando valores numéricos em booleanos
df_users_details['skip_1'] = df_users_details['skip_1'].map({False: 'Falso', True:'Verdadeiro'})
df_users_details['not_skipped'] = df_users_details['not_skipped'].map({False: 'Falso', True:'Verdadeiro'})

In [19]:
# Dict com a tradução dos headers do dataset
translated_header_names = {
    'track_id_clean': 'ID da música',
    'skip_1': 'Música foi pulada no início',
    'not_skipped': 'Música não foi pulada',
    'hour_of_day': 'Escutada em qual hora do dia',
}

In [20]:
df_users_details.rename(columns=translated_header_names, inplace=True)

In [21]:
df_users_details

,ID da música,Música foi pulada no início,Música não foi pulada,Escutada em qual hora do dia
0,t_00007fba-6bd3-449d-85dd-54d4aea397c2,Falso,Verdadeiro,1
1,t_0000dc06-0c00-4a09-9dc6-3bdad9c6f0e8,Falso,Falso,23
2,t_00020dc1-1b82-43e9-8327-77b074bdf626,Verdadeiro,Falso,22
3,t_0003d374-de7a-44c0-a2b6-9ee6785a0750,Falso,Verdadeiro,13
4,t_00042d9b-e795-41a9-89ad-504373dd4287,Falso,Verdadeiro,19
...,...,...,...,...
50699,t_fff7c790-7ca8-4de2-92b3-48d5414db051,Verdadeiro,Falso,21
50700,t_fff847fc-b425-4bc7-b680-9879a07739d5,Falso,Verdadeiro,1
50701,t_fffb45d3-9981-4fe5-99a2-0f3c37f9af96,Falso,Verdadeiro,18
50702,t_fffc5585-4ff9-4f73-a5ae-c67afa99fbb5,Falso,Verdadeiro,14
50703,t_fffe4528-f29c-467c-a751-e9db03964faa,Verdadeiro,Falso,22

# Unindo Datasets

In [22]:
# Une os datasets com base no campo 'ID da música'
df = pd.merge(df_track_details, df_users_details, on='ID da música')

In [23]:
df.describe()

,Duração (em segundos),Estimativa de popularidade nos EUA,Dançabilidade,Energia,Instrumentalidade,Ano de Lançamento,Escutada em qual hora do dia
count,50704.000000,50704.000000,50704.000000,50704.000000,5.070400e+04,50704.000000,50704.000000
mean,222.267980,99.455131,0.611742,0.641440,7.058671e-02,2010.324748,14.060390
std,72.224839,1.139222,0.166146,0.207957,2.142261e-01,11.471866,5.486341
min,30.013330,90.018900,0.000000,0.000000,0.000000e+00,1950.000000,0.000000
25%,183.933334,99.509670,0.502499,0.507839,1.084167e-08,2009.000000,11.000000
50%,214.866669,99.865444,0.625145,0.661368,2.211650e-06,2015.000000,15.000000
75%,250.426666,99.961131,0.736241,0.803185,7.654784e-04,2017.000000,18.000000
max,1787.760986,99.999997,0.984952,0.999877,9.993988e-01,2018.000000,23.000000

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50704 entries, 0 to 50703
Data columns (total 11 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID da música                        50704 non-null  object
 1   Duração (em segundos)               50704 non-null  float64
 2   Estimativa de popularidade nos EUA  50704 non-null  float64
 3   Dançabilidade                       50704 non-null  float64
 4   Energia                             50704 non-null  float64
 5   Instrumentalidade                   50704 non-null  float64
 6   Ano de Lançamento                   50704 non-null  int32
 7   Escala musical                      50704 non-null  object
 8   Música foi pulada no início         50704 non-null  object
 9   Música não foi pulada               50704 non-null  object
 10  Escutada em qual hora do dia        50704 non-null  int32
dtypes: float64(5), int32(2), object(4)
memory usage: 4.3+ MB

In [25]:
# Divide o dataset para pegarmos uma porção menor dele
x_train,df_smaller,y_train,y_test=train_test_split(df,df['Ano de Lançamento'],test_size=0.02,random_state=123)

In [26]:
df_smaller

,ID da música,Duração (em segundos),Estimativa de popularidade nos EUA,Dançabilidade,Energia,Instrumentalidade,Ano de Lançamento,Escala musical,Música foi pulada no início,Música não foi pulada,Escutada em qual hora do dia
50426,t_feb4ef97-cd30-4c33-9032-ef1f1a58d655,201.986664,99.835139,0.765982,0.761067,2.401338e-12,2017,Menor,Falso,Falso,9
24427,t_7a7e4a76-7914-4d21-8773-6a54a0812de5,230.639999,99.982884,0.628740,0.736263,4.961319e-08,2016,Maior,Verdadeiro,Verdadeiro,14
47681,t_f0db29da-fe13-472b-bfdf-d5a0bd783502,247.626663,99.973848,0.630953,0.749407,5.208510e-06,1971,Maior,Falso,Verdadeiro,22
39779,t_c823babf-7191-49b0-ba86-48439914cc62,250.514297,99.447559,0.713650,0.619660,6.433872e-01,2015,Menor,Falso,Verdadeiro,16
29474,t_93f9d8eb-6110-47d6-a1e4-6b6b9819f1d1,274.160004,99.791719,0.656329,0.654815,2.488995e-08,2016,Menor,Verdadeiro,Falso,14
...,...,...,...,...,...,...,...,...,...,...,...
22357,t_7067ad63-1ac7-4449-87be-cdec400112ce,166.800003,99.923580,0.698223,0.724418,5.838772e-06,2010,Maior,Verdadeiro,Falso,15
17939,t_5a48ea7d-3e94-41a3-aa43-22791103ae33,165.067764,99.983575,0.725614,0.387775,1.909367e-10,2015,Maior,Falso,Verdadeiro,14
30140,t_975a672f-67e2-4fb9-a007-dd197a26da22,278.093323,99.939557,0.320929,0.887347,2.335636e-07,2015,Maior,Falso,Falso,9
2223,t_0b0afb51-07bb-4fe0-a3b3-75c43d1884ae,105.038368,98.460405,0.795702,0.631768,3.346265e-07,2018,Menor,Verdadeiro,Verdadeiro,19
14640,t_4a020a5e-82b2-4122-acbe-b1dd12256afd,272.466675,99.892540,0.523690,0.518484,4.531301e-09,1996,Maior,Falso,Verdadeiro,16

In [27]:
# Usado para comparar com a tabela posterior para ver se o dataset foi dividido da maneira adequada
df_smaller.describe()

,Duração (em segundos),Estimativa de popularidade nos EUA,Dançabilidade,Energia,Instrumentalidade,Ano de Lançamento,Escutada em qual hora do dia
count,1015.000000,1015.000000,1015.000000,1015.000000,1.015000e+03,1015.000000,1015.000000
mean,225.772200,99.467082,0.604742,0.649316,6.796348e-02,2009.831527,14.021675
std,75.839195,1.098279,0.166564,0.201684,2.110467e-01,11.733488,5.465647
min,34.506672,90.249354,0.074629,0.022790,8.986321e-15,1956.000000,0.000000
25%,187.706146,99.525457,0.488060,0.521084,1.763880e-08,2008.000000,11.000000
50%,215.453323,99.866510,0.617222,0.656656,1.742013e-06,2015.000000,15.000000
75%,251.426170,99.965101,0.730999,0.809995,4.425801e-04,2017.000000,18.000000
max,1193.173340,99.999894,0.976358,0.999439,9.906363e-01,2018.000000,23.000000

In [28]:
# Usado para comparar com a tabela anterior para ver se o dataset foi dividido da maneira adequada
df.describe()

,Duração (em segundos),Estimativa de popularidade nos EUA,Dançabilidade,Energia,Instrumentalidade,Ano de Lançamento,Escutada em qual hora do dia
count,50704.000000,50704.000000,50704.000000,50704.000000,5.070400e+04,50704.000000,50704.000000
mean,222.267980,99.455131,0.611742,0.641440,7.058671e-02,2010.324748,14.060390
std,72.224839,1.139222,0.166146,0.207957,2.142261e-01,11.471866,5.486341
min,30.013330,90.018900,0.000000,0.000000,0.000000e+00,1950.000000,0.000000
25%,183.933334,99.509670,0.502499,0.507839,1.084167e-08,2009.000000,11.000000
50%,214.866669,99.865444,0.625145,0.661368,2.211650e-06,2015.000000,15.000000
75%,250.426666,99.961131,0.736241,0.803185,7.654784e-04,2017.000000,18.000000
max,1787.760986,99.999997,0.984952,0.999877,9.993988e-01,2018.000000,23.000000

In [32]:
# Criando arquivo csv do recorte do dataset
df_smaller.to_csv('./datasets/custom/dataset_1.csv', index=False)